*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(imagens/fundo.png);
    font-family: 'Quantico', sans-serif;
    font-weight: 400;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
